/Tutorial/Source/*.hoc
/Tutorial/Source/*.mod
/Tutorial/Source/*.dat
/Tutorial/Source/*nrn.py
x86_64
umac
i386
*.dll
.idea
.idea/*
Ideas
Ideas/*
_build
_build/*
.DS_Store
_static/.DS_Store
*.pyc

Tutorial/Source/*_pynn.py
Tutorial/Source/*definition.py
Tutorial/Source/*json
*~


