name: Non OMV tests

on:
  push:
    branches: [ master, development, experimental, test* ]
  pull_request:
    branches: [ master, development, experimental, test* ]

jobs:
  build:

    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: [ 3.9, "3.12" ]

    steps:
    - uses: actions/checkout@v4

    - name: Set up Python  ${{ matrix.python-version }}
      uses: actions/setup-python@v5
      with:
        python-version:  ${{ matrix.python-version }}

    - name: Test python HH
      run: |
        pip install scipy matplotlib
        cd Tutorial/Source
        python HodgkinHuxley.py # test in current clamp mode
        python HodgkinHuxley.py -vclamp # test in voltrage clamp mode
